<link rel="stylesheet" href="~/css/Dangky.css" asp-append-version="true"/>
<div class="container">
        <div class="form-register">
            <div class="box">
                <div class="content">
                    <div class="title-text">
                        <div class="p1">
                            Sign up
                        </div>
                        <div class="p2">
                            Have an account? <a href="#" class="Login">Log in</a>
                        </div>
                    </div>

                    <div class="input_register">
                        <input type="text" class="login-text" placeholder="Phone number / Username / Email">
                        <button class="login-button">NEXT</button>
                    </div>
                    <div class="hr-with-text">
                        <span>OR</span>
                    </div>
                    <div>
                        <div class="login-button">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/800px-Google_%22G%22_logo.svg.png"
                                alt="Google Logo">
                            Continue with Google
                        </div>

                        <div class="login-button">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"
                                alt="Facebook Logo">
                            Continue with Facebook
                        </div>

                        <div class="login-button">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
                                alt="Apple Logo">
                            Continue with Apple
                        </div>
                    </div>
                    <div class="footer-box">
                        <div class="footer-text">
                            By signing up, you agree to Fshoes's <a href="#">Terms of <br>
                            Service & Privacy Policy </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>